{{ "<!-- Hero 1 -->" | safeHTML }}
{{ if .IsHome }}
  <header editor=true partial='hero' show-editor-menu='imageonly' editor-data-param="hero.background_image:Image:Background Image" class="singleimgbg" style="background-image: url({{ if isset .Site.Params.hero "background_image" }}{{ .Site.Params.hero.background_image | absURL }}{{ else }}{{ .Site.BaseURL | absURL }}{{ end }});">
    <div class="container">
      <div class="intro-text">
        <div editor=true parameditable=true editor-data-param="i18n.heroTitle:Text:Title" class="intro-lead-in">{{ i18n "heroTitle" }}</div>
        <div editor=true parameditable=true editor-data-param="i18n.heroSubtitle:Text:Subtitle" class="intro-heading">{{ with i18n "heroSubtitle" }}{{ . | markdownify }}{{ end }}</div>
      </div>
    </div>
  </header>
{{ else }}
  <header partial='hero' class='none'>
  </header>
{{ end }}
