{{ "<!-- Navigation -->" | safeHTML }}
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">

    {{ "<!-- Brand and toggle get grouped for better mobile display -->" | safeHTML }}
    <div class="navbar-header page-scroll">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      {{ if .Site.Params.navigation.logo }}
        <a editor=true parameditable=true editor-data-param="navigation.brand:Text:Logo name,navigation.logo:Image:Site Logo" class="navbar-brand page-scroll" href="{{ if .IsHome }}/#page-top{{ else }}{{ .Site.BaseURL }}{{ end }}">
          {{ $url := printf "img/%s" .Site.Params.navigation.logo }}
          <img src="{{ $url | absURL }}" class="img-responsive" alt="{{ .Site.Params.navigation.brand }}">
        </a>
      {{ else }}
        <a editor=true parameditable=true editor-data-param="navigation.brand:Text:Logo name,navigation.logo:Image:Site Logo" class="navbar-brand page-scroll" href="{{ if .IsHome }}/#page-top{{ else }}{{ .Site.BaseURL }}{{ end }}">
          {{ .Site.Params.navigation.brand }}
        </a>
      {{ end }}

    </div>
    {{ "<!-- Collect the nav links, forms, and other content for toggling -->" | safeHTML }}
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul editor=true parameditable=true class="nav navbar-nav navbar-right" show-editor-menu='nav'>
        <li class="hidden">
          <a parameditable=true href="{{ if .IsHome }}/#page-top{{ else }}{{ .URL| absLangURL }}{{ end }}"></a>
        </li>

        {{ range .Site.Menus.prepend }}
          <li>
            <a href="{{ .URL| absLangURL }}">{{ .Name | markdownify }}</a>
          </li>
        {{ end }}

        {{ if .Site.Params.services.enable }}
          <li>
            <a parameditable=true class="page-scroll" href="{{ .Site.BaseURL | absLangURL }}#services">{{ with .Site.Params.navigation.services }}{{ . }}{{ end }}</a>
          </li>
        {{ end }}

        {{ if .Site.Params.portfolio.enable }}
          <li>
            <a parameditable=true class="page-scroll" href="{{ .Site.BaseURL| absLangURL }}#portfolio">{{ with .Site.Params.navigation.portfolio }}{{ . }}{{ end }}</a>
          </li>
        {{ end }}

        {{ if .Site.Params.blogs.enable }}
          <li>
            <a parameditable=true class="page-scroll" href="{{ .Site.BaseURL| absLangURL }}blogs">{{ with .Site.Params.navigation.blogs }}{{ . }}{{ end }}</a>
          </li>
        {{ end }}

        {{ if .Site.Params.about.enable }}
          <li>
            <a parameditable=true class="page-scroll" href="{{ .Site.BaseURL| absLangURL }}#about">{{ with .Site.Params.navigation.about }}{{ . }}{{ end }}</a>
          </li>
        {{ end }}

        {{ if .Site.Params.team.enable }}
          <li>
            <a parameditable=true class="page-scroll" href="{{ .Site.BaseURL| absLangURL }}#team">{{ with .Site.Params.navigation.team }}{{ . }}{{ end }}</a>
          </li>
        {{ end }}

        {{ if .Site.Params.contact.enable }}
          <li>
            <a parameditable=true class="page-scroll" href="{{ .Site.BaseURL| absLangURL }}#contact">{{ with .Site.Params.navigation.contact }}{{ . }}{{ end }}</a>
          </li>
        {{ end }}

        <li class="dropdown">
            <a href="#" class="dropdown-toggle bg-black" data-toggle="dropdown">{{ .Lang }}</a>
            <ul class="dropdown-menu bg-black">
                <li class="dropdown menu-item">
                   <a href="{{ .Permalink }}">
                   {{ $langVal := (i18n (lower (default .Lang .Site.Language.Lang)) .) }}
 	           {{ $langLinkVar := .Lang | printf "langLink_%s" }}
                   {{ $.Scratch.Set $langLinkVar "1" }}
	           {{ $langVal }}
                   </a>
                </li>
                {{ range .Translations }}
                  {{ $langVal := (i18n (lower (default .Lang .Site.Language.Lang)) .) }}
                  {{ if $langVal }}
                    <li class="dropdown menu-item">
                       <a href="{{ .Permalink }}">
                        {{ $langVal }}
		        {{ $langLinkVar := .Lang | printf "langLink_%s" }}
                        {{ $.Scratch.Set $langLinkVar "1" }}
                       </a>
                    </li>
                  {{ else }}
                  {{ end }}
                {{ end }}


		{{ range $.Site.Home.AllTranslations }}
		   {{ $langLinkVar := .Language.Lang | printf "langLink_%s" }}
                   {{ if eq ($.Scratch.Get $langLinkVar) "1" }}
                   {{ else }}
                      {{ $langVal := (i18n (lower (default .Language.Lang .Site.Language.Lang)) .) }}
                      {{ if $langVal }}
	                 <li><a href="{{ .URL }}">{{ $langVal }}</a></li>
	              {{ end }}
	           {{ end }}
	        {{ end }}

            </ul>
          </li>
      </ul>
    </div>
    {{ "<!-- /.navbar-collapse -->" | safeHTML }}
  </div>
  {{ "<!-- /.container-fluid -->" | safeHTML }}
</nav>
